VITE_PUBLIC_SITE_URL=https://cecae.org
VITE_API_BASE_URL=http://localhost:8080
VITE_TURNSTILE_SITE_KEY=
VITE_GOOGLE_MAPS_EMBED_URL=
VITE_GA_MEASUREMENT_ID=
VITE_CECAE_PHONE=+526568437143
VITE_CECAE_WHATSAPP=+526567741570
VITE_CECAE_EMAIL=capacitacion@cecae.org
